<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Kernel Convolver</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Visualize Image Convolutions
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container" style="display: inline-flex;">
            <div class="column is-one-third">
                <figure class="image is-2by3">
                    <img alt="Original Picture" src="/static/iu.jpg" />
                </figure>
            </div>
            <div class="column is-half">
                <form method="POST" action="{{ url_for('apply_convolution') }}">
                    <label for="convolutions">Choose a kernel:</label>
                    <select id="convolutions"name = "convolution_type">
                        <option value="Identity">Identity</option>
                        <option value="Sharpen">Sharpen</option>
                        <option value="EdgeDetection">Edge Detection</option>
                        <option value="BoxBlur">Box Blur</option>
                        <option value="GaussianBlur">Gaussian Blur</option>
                    </select>
                    <input type="submit">
                </form>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <a href="https://github.com/jkaethee"><i class="fa fa-github" style="font-size:36px; padding:5px;"></i></a>
                <a href="https://github.com/averyryoo"><i class="fa fa-github" style="font-size:36px; padding:5px;"></i></a>
              </p>
            </div>
          </div>
    </footer>
</body>

</html>