<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Kernel Convolver</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body style="height: 100vh;">
    <section class="hero is-info is-bold" style="height: 20%;">
        <div class="hero-body" style="display: flex; justify-content: space-around;">
            <div class="container" style="margin: 0;">
                <h1 class="title">
                    Visualize Image Convolutions
                </h1>
            </div>
            <div>
                <a href="https://github.com/jkaethee"><i class="fa fa-github" style="font-size:36px; padding:10px;"></i></a>
                <a href="https://github.com/averyryoo"><i class="fa fa-github" style="font-size:36px; padding:10px;"></i></a>
            </div>
        </div>
    </section>
    <section class="section" style="height: 80%; display: flex; justify-content: center; padding: 0;">
        <div class="container" style="display: inline-flex;">
            <div class="column is-one-third">
                <figure class="image is-1by2">
                    <img alt="Original Picture" src="/static/iu.jpg" />
                </figure>
            </div>
            <div class="column is-one-third">
                <form method="POST" action="{{ url_for('apply_convolution') }}">
                    <label for="convolutions">Choose a kernel:</label>
                    <select id="convolutions"name = "convolution_type">
                        <option value="Identity">Identity</option>
                        <option value="Sharpen">Sharpen</option>
                        <option value="EdgeDetection">Edge Detection</option>
                        <option value="BoxBlur">Box Blur</option>
                        <option value="GaussianBlur">Gaussian Blur</option>
                    </select>
                    <input type="submit">
                </form>
            </div>
            <div class="column is-one-third">
                <figure class="image is-300x450">
                    <img alt="New Picture" src="/static/newImage.jpg" />
                </figure>
            </div>
        </div>
    </section>
</body>

</html>